:root {
  --first-color: rgba(245, 245, 245, 0.849);
  --second-color: rgba(0, 0, 0, 0.541);
  --third-color: rgba(0, 0, 0, 0.1);
  --fourth-color: rgba(0, 0, 0, 0.856);
}
.App header {
  margin: 30px auto;
}
.App h1 {
  margin-bottom: -8px;
  font-size: 50px;
  color: var(--fourth-color);
  text-shadow: 3px 5px 12px var(--third-color);
}
.App footer {
  margin-top: -15px;
  font-size: 15px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("./images/Image-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
