:root {
  --first-color: rgba(245, 245, 245, 0.849);
  --second-color: rgba(0, 0, 0, 0.541);
  --third-color: rgba(0, 0, 0, 0.1);
  --fourth-color: rgba(0, 0, 0, 0.856);
}
.Dictionary input {
  padding: 8px;
  border-radius: 15px;
  border: solid 1px var(--second-color);
  box-shadow: 3px 5px 12px var(--third-color);
}
