h3 {
  font-size: 30px;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 10px;
  font-style: italic;
}
.Definition {
  font-size: 18px;
  margin: 0px 20px 10px;
}
.Exemple {
  font-size: 18px;
  margin: 10px 25px;
  font-style: italic;
  color: #4b5b63;
  font-family: "Playfair Display", serif;
}
