img {
  margin: 15px auto;
  width: 250px;
}
a {
  text-decoration: none;
}
.row {
  text-align: center;
}
.Photos {
  background-color: rgba(245, 245, 245, 0.849);
  padding: 10px 20px;
  max-width: 600px;
  min-width: 500px;
  margin: 20px auto;
  border-radius: 6px;
  box-shadow: 3px 5px 12px rgba(0, 0, 0, 0.1);
}
