:root {
  --first-color: rgba(245, 245, 245, 0.849);
  --second-color: rgba(0, 0, 0, 0.541);
  --third-color: rgba(0, 0, 0, 0.1);
  --fourth-color: rgba(0, 0, 0, 0.856);
}

img {
  margin: 15px auto;
  width: 250px;
}
a {
  text-decoration: none;
}
.row {
  text-align: center;
}
.Photos {
  background-color: var(--first-color);
  padding: 10px 20px;
  max-width: 600px;
  min-width: 500px;
  margin: 20px auto;
  border-radius: 6px;
  border: solid 1px var(--second-color);
  box-shadow: 3px 5px 12px var(--third-color);
}
